:root{
  --border-radius: 20px;
  --bg-color: #000;
  --white: rgb(231, 233, 234); 
  --primary-blue: rgb(29, 155, 240);
  --secondary-blue: rgba(29, 155, 240, 0.9);
  --outline-btn: rgb(83, 100, 113);
  --light-blue: rgba(29, 155, 240, 0.1);
  --light-gray: rgba(235, 235, 235, 0.1);
  --dark-gray: rgb(22, 24, 28);
  --text-gray: #71767b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Libre Franklin", sans-serif;
}

body {
  background-color: var(--bg-color);
  color: var(--white);
}

.container-feed {
  max-width: 90dvw;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 600px 1fr;
  align-items: start;
  justify-content: center;
}

.feed-aside {
  max-width: 360px;
  width: 100%;
  padding: 16px 30px;
  height: 100dvh;
  position: sticky;
  top: 0;
}


/* Navbar */

.img-logo-feed {
  width: 30px;
  height: 30px;
}

.feed-nav-ul {
  padding: 20px 0;
}

.feed-nav-li {
  list-style: none;
  padding: 12px 10px;
  margin-bottom: 8px;
  display: block;
}

.feed-nav-li:hover {
  background-color: var(--light-gray);
  border-radius: var(--border-radius);
}

.feed-nav-a {
  display: flex;
  justify-content: start;
  align-items: center;
  text-decoration: none;
}

.nav-a-img-container {
  display: inline-block;
  text-align: center;
  padding: 12px 10px 4px 10px;
  border-radius: 50%;
}

.nav-a-img-container:hover {
  background-color: var(--light-gray);
  border-radius: var(--border-radius);
}

.feed-nav-a > small {
  margin-left: 8px;
  font-size: 20px;
  color: var(--white);
}

.feed-nav-a > small:active {
  font-weight: 700;
}

.profile-container {
  display: flex;
  align-items: center;
  justify-content: start;
  text-decoration: none;
  padding: 12px 10px;
  border-radius: var(--border-radius);
  margin-bottom: 20px;
}

.profile-container:hover {
  background-color: var(--light-gray);
}

.profile-img-container {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-color: none;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
}

.profile-img-container > img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  /* margin: 0 auto; */
}

.profile-info-container {
  margin-left: 8px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.profile-name {
  font-size: 16px;
  font-weight: 700;
  color: var(--white);
  text-transform: capitalize;
}

.profile-username {
  font-size: 16px;
  font-weight: 700;
  color: var(--text-gray);
}


/*To Follow */

.tofollow {
  padding: 16px 0;
  background-color: var(--dark-gray);
  border-radius: var(--border-radius);
}

.tofollow-title {
  font-size: 18px;
  margin-bottom: 30px;
  padding-left: 16px;
}

.downsize-text {
  font-size: 12px;
}

.btn {
  text-decoration: none;
  color: var(--bg-color);
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 700;
  background-color: var(--white);
  border-radius: var(--border-radius);
  cursor: pointer;
  margin-left: 40px;
  border: none;
}

.btn-primary {
  background-color: var(--primary-blue);
  color: var(--white);
  
}

.btn-primary:hover {
  background-color: var(--secondary-blue);
}

.tofollow-info-container {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}

.no-border {
  border-radius: 0px;
}

/* Main content */

.feed-main {
  border: 1px solid var(--outline-btn);
  border-top: none;
  overflow-y: auto;
}

.hide {
  display: none;
}

.pd-l {
  margin-left: 10px;
}


.profile-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid var(--bg-color);
  object-fit: cover;
}

.profile-image-follow {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid var(--bg-color);
  object-fit: cover;
}

.btn-container-follow {
  display: flex;
  justify-content: end;
  background-color: red;
}

.btn-follow {
  text-decoration: none;
  color: var(--bg-color);
  padding: 6px 12px;
  font-size: 12px;
  font-weight: 700;
  background-color: var(--white);
  border-radius: var(--border-radius);
  cursor: pointer;
  border: none;
  margin-left: 8px;
}