:root{
  --border-radius: 20px;
  --bg-color: #000;
  --white: rgb(231, 233, 234); 
  --primary-blue: rgb(29, 155, 240);
  --secondary-blue: rgba(29, 155, 240, 0.9);
  --outline-btn: rgb(83, 100, 113);
  --light-blue: rgba(29, 155, 240, 0.1);
  --light-gray: rgba(235, 235, 235, 0.1);
  --text-gray: #71767b;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Libre Franklin", sans-serif;
}

body {
  background-color: var(--bg-color);
  color: var(--white);
}

/* Containers */

.container {
  max-width: 90dvw;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  align-items: center;
  justify-content: center;

  @media(max-width: 680px) {
    width: 90%;
    grid-template-columns: 1fr;
    gap: 40px;
    padding: 20px;
  }
}

.container-full {
  height: 100dvh;

  @media(max-width: 680px) {
    height: 100%;
  }
}

.container-feed {
  max-width: 90dvw;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: start;
  justify-content: center;
}

.feed-main {
  background-color: red;
  
}

.feed-social-nav {
  background-color: yellow;
}


section {
  text-align: center;

  @media(max-width: 680px) {
    text-align: start;
  }
}

.content-container {
  text-align: start;

  @media(max-width: 680px) {
    width: 100%;
    margin: 0 auto;
  }
}

/* images */

.img-control {
  max-width: 280px;
  width: 100%;

  @media(max-width: 680px) {
    width: 40px;
    padding-top: 16px;
  }
}

.img-logo-feed {
  width: 30px;
  height: 30px;
}


/* Icons */

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 40
}


/* texts */

.text-blue {
  color: var(--secondary-blue);
}

.main-title {
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 40px;

  @media(max-width: 680px) {
    font-size: 40px;
    margin-bottom: 30px;
    max-width: 300px;
  }
}

.subtitle {
  font-size: 32px;
  margin-bottom: 30px;

  @media(max-width: 680px) {
    font-size: 24px;
    margin-bottom: 20px;
  }
}

.title {
  font-size: 18px;
  margin-bottom: 20px;
}

.text-small {
  font-size: 11px;
  color: var(--text-gray);
  max-width: 300px;
  margin-bottom: 40px;
  margin-top: 8px;
}


/* Buttons */

.btn {
  font-size: 16px;
  font-weight: 700;
  background-color: var(--primary-blue);
  color: var(--white);
  text-decoration: none;
  max-width: 300px;
  width: 100%;
  padding: 12px;
  display: block;
  border-radius: var(--border-radius);
  text-align: center;
  cursor: pointer;

  @media(max-width: 680px) {
    max-width: 280px;
  }
}

.btn-primary {
  background-color: var(--primary-blue);
  color: var(--white);
}

.btn-primary:hover {
  background-color: var(--secondary-blue);
}

.btn-secondary {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid var(--outline-btn);
  color: var(--primary-blue);
}

.btn-secondary:hover {
  background-color: var(--light-blue);
}

/* Forms */

.form-default {
  max-width: 400px;
  width: 100%;
}

.input-group {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 6px;
  padding: 12px 0;
}

.form-input {
  width: 100%;
  padding: 12px;
  border: 1px solid var(--light-gray);
  background-color: transparent;
  font-size: 16px;
  color: var(--white);
  margin-bottom: 12px;
}

.form-label {
  font-size: 11px;
  color: var(--text-gray);
  margin-bottom: 20px;
}

.form-input:focus {
  outline: 2px solid var(--secondary-blue);
}

.form-btn {
  max-width: 400px;
  margin-bottom: 40px;
}

/* Navbar */

.feed-nav {
  max-width: 320px;
  width: 100%;
  padding: 16px 30px;
}

.feed-nav-ul {
  padding: 20px 0;
}

.feed-nav-li {
  list-style: none;
  padding: 12px 10px;
  margin-bottom: 8px;
  display: block;
}

.feed-nav-li:hover {
  background-color: var(--light-gray);
  border-radius: var(--border-radius);
}

.feed-nav-a {
  display: flex;
  justify-content: start;
  align-items: center;
  text-decoration: none;
}

.nav-a-img-container {
  display: inline-block;
  text-align: center;
  padding: 12px 10px 4px 10px;
  border-radius: 50%;
}

.nav-a-img-container:hover {
  background-color: var(--light-gray);
  border-radius: var(--border-radius);
}

.feed-nav-a > small {
  margin-left: 8px;
  font-size: 20px;
  color: var(--white);
}

.feed-nav-a > small:active {
  font-weight: 700;
}

.profile-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile-img-container {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-color: none;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-img-container > img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: fill;
  /* margin: 0 auto; */
}

.profile-info-container {
  margin-left: 8px;
}

.profile-name {
  font-size: 16px;
  font-weight: 700;
}

.profile-username {
  font-size: 16px;
  font-weight: 700;
  color: var(--text-gray);
}


