{% extends "feed.html" %}
{% load static %}

{% block content %}
  <section class="new-tweet-container">
    <div class="profile-img-container">
      <img src="{% static 'images/raul.jpg' %}" alt="">
    </div>
    <form action="">
      <textarea class="new-tweet-textarea" name="" id="" placeholder="O que está acontecendo?!"></textarea>
      <button type="submit" class="btn btn-primary">Postar</button>
    </form>
  </section>
  <section class="new-tweet-container">
    <div class="profile-img-container">
      <img src="{% static 'images/history.jpg' %}" alt="">
    </div>
    <div class="tweet-container">
      <div class="author-container">
        <span class="text author-name">Historic Vids</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgb(29, 155, 240)" class="bi bi-patch-check-fill" viewBox="0 0 16 16">
          <path d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01zm.287 5.984-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708.708"/>
        </svg>
        <span class="text author-username">@historyinmemes</span>
        <span class="text tweet-date">- 15h</span>
      </div>
      <div class="tweet-content">
        <p class="text tweet-text">
          How deep is it?
        </p>
      </div>
    </div>    
  </section>
  <section class="new-tweet-container">
    <div class="profile-img-container">
      <img src="{% static 'images/history.jpg' %}" alt="">
    </div>
    <div class="tweet-container">
      <div class="author-container">
        <span class="text author-name">Historic Vids</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgb(29, 155, 240)" class="bi bi-patch-check-fill" viewBox="0 0 16 16">
          <path d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01zm.287 5.984-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708.708"/>
        </svg>
        <span class="text author-username">@historyinmemes</span>
        <span class="text tweet-date">- 15h</span>
      </div>
      <div class="tweet-content">
        <p class="text tweet-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a lectus condimentum, maximus lorem vitae, ultricies velit. Mauris ut cursus ipsum. Fusce eleifend, ligula ac cursus gravida, elit lorem blandit neque, vel malesuada turpis nisl eget leo. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent laoreet, nibh id scelerisque vulputate, turpis ligula tristique dolor, sed lobortis purus lectus vel risus.
        </p>
      </div>
    </div>    
  </section>
  <section class="new-tweet-container">
    <div class="profile-img-container">
      <img src="{% static 'images/history.jpg' %}" alt="">
    </div>
    <div class="tweet-container">
      <div class="author-container">
        <span class="text author-name">Historic Vids</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgb(29, 155, 240)" class="bi bi-patch-check-fill" viewBox="0 0 16 16">
          <path d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01zm.287 5.984-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708.708"/>
        </svg>
        <span class="text author-username">@historyinmemes</span>
        <span class="text tweet-date">- 15h</span>
      </div>
      <div class="tweet-content">
        <p class="text tweet-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a lectus condimentum, maximus lorem vitae, ultricies velit. Mauris ut cursus ipsum. Fusce eleifend, ligula ac cursus gravida, elit lorem blandit neque, vel malesuada turpis nisl eget leo. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent laoreet, nibh id scelerisque vulputate, turpis ligula tristique dolor, sed lobortis purus lectus vel risus.
        </p>
      </div>
    </div>    
  </section>
  <section class="new-tweet-container">
    <div class="profile-img-container">
      <img src="{% static 'images/history.jpg' %}" alt="">
    </div>
    <div class="tweet-container">
      <div class="author-container">
        <span class="text author-name">Historic Vids</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgb(29, 155, 240)" class="bi bi-patch-check-fill" viewBox="0 0 16 16">
          <path d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01zm.287 5.984-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708.708"/>
        </svg>
        <span class="text author-username">@historyinmemes</span>
        <span class="text tweet-date">- 15h</span>
      </div>
      <div class="tweet-content">
        <p class="text tweet-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a lectus condimentum, maximus lorem vitae, ultricies velit. Mauris ut cursus ipsum. Fusce eleifend, ligula ac cursus gravida, elit lorem blandit neque, vel malesuada turpis nisl eget leo. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent laoreet, nibh id scelerisque vulputate, turpis ligula tristique dolor, sed lobortis purus lectus vel risus.
        </p>
      </div>
    </div>    
  </section>
  <section class="new-tweet-container">
    <div class="profile-img-container">
      <img src="{% static 'images/history.jpg' %}" alt="">
    </div>
    <div class="tweet-container">
      <div class="author-container">
        <span class="text author-name">Historic Vids</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgb(29, 155, 240)" class="bi bi-patch-check-fill" viewBox="0 0 16 16">
          <path d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01zm.287 5.984-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708.708"/>
        </svg>
        <span class="text author-username">@historyinmemes</span>
        <span class="text tweet-date">- 15h</span>
      </div>
      <div class="tweet-content">
        <p class="text tweet-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a lectus condimentum, maximus lorem vitae, ultricies velit. Mauris ut cursus ipsum. Fusce eleifend, ligula ac cursus gravida, elit lorem blandit neque, vel malesuada turpis nisl eget leo. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent laoreet, nibh id scelerisque vulputate, turpis ligula tristique dolor, sed lobortis purus lectus vel risus.
        </p>
      </div>
    </div>    
  </section>
{% endblock content %}