{% extends "base.html" %}

{% block content %}
  <article class="col-6 text-start">
    <h1 style="font-size: 64px; margin-top: -60px;" class="fw-bold">Acontecendo agora</h1>
    <div class="row mt-5">
      <div class="col-6">
        <h2 class="fw-bold">Inscreva-se hoje</h2>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-6 d-grid">
        <a class="btn btn-primary btn-lg d-block" style="border-radius: 20px;" href="{% url 'signup' %}">
          Criar conta
        </a>
      </div>
    </div>
    <div class="row mt-1">
      <div class="col-6">
        <p class="text-secondary" style="font-size: 11px;">
          Ao se inscrever, você concorda com os
          <span class="text-primary">Termos de Serviço</span>
          e a 
          <span class="text-primary">Política de Privacidade</span>, 
          incluindo o 
          <span class="text-primary">Uso de Cookies</span>.
        </p>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-6">
        <h5>Já tem uma conta?</h5>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-6 d-grid">
        <a class="btn btn-outline-primary btn-lg" style="border-radius: 20px;" href="{% url 'signin' %}">
          Entrar
        </a>
      </div>
    </div>
  </article>

{% endblock content %}
