{% extends "base.html" %}
{% load static %}

{% block title %}
  <title>Y. O que está acontecendo / Y</title>
{% endblock title %}

{% block content %}
  <main class="container container-full">
    <section>
      <img class="img-control" src="{% static 'images/logo.png' %}" alt="y logo">
    </section>
    <section class="content-container">
      <h1 class="main-title">Acontecendo agora</h1>
      <div>
        <h2 class="subtitle">Inscreva-se hoje</h2>
        <div>
          <a class="btn btn-primary" href="{% url 'signup' %}">Criar conta</a>
          <p class="text-small">
            Ao se inscrever, você concorda com os
            <span class="text-blue">Termos de Serviço</span> e a 
            <span class="text-blue">Política de Privacidade</span>, incluindo o
            <span class="text-blue">Uso de Cookies</span>.
          </p>
        </div>
      </div>
      <div>
        <h3 class="title">Já tem uma conta?</h3>
        <a class="btn btn-secondary" href="{% url 'signin' %}">Entrar</a>
      </div>
    </section>
  </main>
{% endblock content %}
