{% extends "base.html" %}
{% load static %}

{% block title %}
  <title>Y. What's going on / Y</title>
{% endblock title %}

{% block content %}
  <main class="container container-full">
    <section>
      <img class="img-control" src="{% static 'images/logo.png' %}" alt="y logo">
    </section>
    <section class="content-container">
      <h1 class="main-title">Happening now</h1>
      <div>
        <h2 class="subtitle">Sign up today</h2>
        <div>
          <a class="btn btn-primary" href="{% url 'signup' %}">Create an account</a>
          <p class="text-small">
            By signing up, you agree to the
            <span class="text-blue">Terms of Service</span> and 
            <span class="text-blue">Privacy Policy</span>, including the
            <span class="text-blue">Use of Cookies</span>.
          </p>
        </div>
      </div>
      <div>
        <h3 class="title">Already have an account?</h3>
        <a class="btn btn-secondary" href="{% url 'signin' %}">Login</a>
      </div>
    </section>
  </main>
{% endblock content %}
