{% extends "base.html" %}
{% load static %}

{% block title %}

  <title>Create an Account Y / Y</title>

{% endblock title %}

{% block content %}

  <main class="container container-full">
    <section>
      <img class="img-control" src="{% static 'images/logo.png' %}" alt="y logo">
    </section>
    <section class="content-container">
      <h2 class="subtitle">Create your account</h2>
      <form class="form-default" method='POST' action='{% url 'signup' %}'>
        {% csrf_token %}
        {{ form }}
        <div class="input-group">
          <input type="checkbox" class="" id="termos">
          <label class="form-label" for="termos">
            By signing up, you agree to our 
            <span class="text-blue">Terms</span>,
            <span class="text-blue">Privacy Policy</span> and
            <span class="text-blue">Use of Cookies</span>. O Y may use your contact information,
            including your email adress and telephone number, for the purposes described in our Privacy Policy.
          </label>
        </div>
        <button class="btn btn-primary form-btn" type="submit">Sign Up</button>
      </form>
      <div>
        <p class="text-small">Already have an account? <a class="text-blue" href="{% url 'signin' %}">Login</a></p>
      </div>
    </section>
  </main>
  
{% endblock content %}