{% extends "base.html" %}
{% load static %}

{% block title %}

  <title>Entrar no Y / Y</title>

{% endblock title %}

{% block content %}

  <main class="container container-full">
    <section>
      <img class="img-control" src="{% static 'images/logo.png' %}" alt="">
    </section>
    <section class="content-container">
      <h2 class="subtitle">Entrar no Y</h2>
      <form class="form-default">
        <input type="email" class="form-input" id="usuario" placeholder="Usuário">
        <input type="email" class="form-input" id="senha" placeholder="Senha">
        <div class="input-group">
          <input type="checkbox" class="" id="termos">
          <label class="form-label" for="termos">
            Não sou um robô
          </label>
        </div>
        <button class="btn btn-primary form-btn" type="button">Entrar</button>
      </form>
      <div>
        <p class="text-small">Não tem uma conta? <a class="text-blue" href="">Inscreva-se</a></p>
      </div>
    </section>
  </main>

{% endblock content %}