{% extends "base.html" %}
{% load static %}

{% block title %}

  <title>Inscrever-se no Y / Y</title>

{% endblock title %}

{% block content %}

  <main class="container container-full">
    <section>
      <img class="img-control" src="{% static 'images/logo.png' %}" alt="y logo">
    </section>
    <section class="content-container">
      <h2 class="subtitle">Criar sua Conta</h2>
      <form class="form-default">
        <input type="email" class="form-input" id="usuario" placeholder="Usuário">
        <input type="email" class="form-input" id="nome" placeholder="Nome">
        <input type="email" class="form-input" id="sobrenome" placeholder="Sobrenome">
        <input type="email" class="form-input" id="email" placeholder="E-mail">
        <input type="email" class="form-input" id="senha" placeholder="Senha">
        <div class="input-group">
          <input type="checkbox" class="" id="termos">
          <label class="form-label" for="termos">
            Ao se inscrever, você concorda com nossos 
            <span class="text-blue">Termos</span>,
            com a <span class="text-blue">Política de Privacidade</span> e com o Uso de 
            <span class="text-blue">Cookies</span>. O Y pode usar suas informações de contato,
            inclusive seu endereço de e-mail e seu número de telefone, para os fins descritos 
            na nossa Política de Privacidade.
          </label>
        </div>
        <button class="btn btn-primary form-btn" type="button">Cadastrar</button>
      </form>
      <div>
        <p class="text-small">Já tem uma conta? <a class="text-blue" href="{% url 'signin' %}">Faça login</a></p>
      </div>
    </section>
  </main>
  
{% endblock content %}