{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{% static 'styles/btn.css' %}" />
</head>
<body>
  <div>
    <a class="btn btn-primary" href="{% url 'signin' %}">Entrar</a>
    <a class="btn btn-secondary" href="{% url 'signin' %}">Secondary</a>
    <a class="btn btn-tertiary" href="{% url 'signin' %}">Tertiary</a>
    <a class="btn btn-delete" href="{% url 'signin' %}">Delete</a>
    <a class="btn btn-dislike" href="{% url 'signin' %}">Deslike</a>
  </div>
</body>
</html>